<!-- <h1> i am login</h1> -->
<div class="container">
    <div class="row">
      <div class="col-md-6">
  
        <form [formGroup]="form" (ngSubmit)="login()">
          <div class="card">
            <div class="text-center"></div>
            <h1 style="color: aliceblue;">Login</h1>
            <h5 style="color:bisque">Please enter username & password !!</h5>
            <div class="mb-3">
              <label class="form-label" style="color: aliceblue;">username</label>
              <input type="email" formControlName="username" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
              <div id="emailHelp" style="color: rgb(255, 255, 255);" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label class="form-label" style="color: aliceblue;">Password</label>
              <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-secondary " style="width: 100px; ">Login</button>
            <div style="margin-top: 2%;">
              <a routerLink="/"style="color: aliceblue;" >New User ! Click Here To Sign-Up </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>