a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#logout{
    margin-left: 1420px;
    margin-top: -592px;
}
body{
    margin-top: 250px;
    position: absolute;
    background-color: transparent;
}


.title{
   color: aliceblue; 
   text-align: center;
   
}
.card{
margin-left: 500px;

}
table{
table-layout: auto;
border: none;
}
td, th {
    border: none;
  }
  #submit{
 margin-left: 125px;

  }