<body>
  <button type="button" class="btn btn-outline-dark" (click)="logout()" id="logout" ><a href="#">logout</a></button>
<div *ngIf="votingStatus" class="card" style="width: 20rem;text-align: center;">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Candidate Name</th>
      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor="let candidate of candidates;let i = index" >
        <th scope="row"> {{i+1}} </th>
        <input type="radio" id="html" name="voter" value={{candidate.candidateName}} (change)="vote(candidate.candidateName)" >
        <label for="html">{{candidate.candidateName}}</label><br>
        <!-- <td>{{candidate.candidateName}}</td>
        <td><button class="btn" (click)="vote(candidate.candidateName)">
          Vote
        </button></td> -->
       
      </tr>
      
    </tbody>
   
    <button (click)="submitVote()" class="btn btn-outline-secondary" *ngIf="candidateName" id="submit">submit vote</button>

  </table>
</div>
<div *ngIf="!votingStatus">
<h1 class="title">Voting done already,Thank You....</h1>
</div>
  
</body>

