.container{
    position: absolute;
    z-index: 5;

}
.card{
    text-align: center;
    margin-top: 200px;
    color: #000000;
    align-items: center;
    background-color: transparent;
}
#card{
   margin-left: 300px;
}
#buttons{
    align-items: center;
}
a{
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    color: #fffcfc;
}
#header{
   background-color:  rgb(7, 7, 7);
}