<body>
  <div class="container">
    <div class="card" id="card">
      <h2>Welcome to our voting system!</h2>
      <h4>
        To be able to cast your vote, you will need to either log in or sign up.
        If you are a returning user and already have an account, simply log in
        using your email address and password. We value your participation and
        appreciate your time and effort in contributing to our voting system.
        Your vote matters, and we thank you for your contribution.
      </h4>

      <div class="d-flex" id="buttons">
        <button type="button" class="btn btn-outline-dark mx-2">
          <a routerLink="/login">Login</a>
        </button>
        <button type="button" class="btn btn-outline-dark mx-3">
          <a routerLink="/register">Register</a>
        </button>
      </div>
    </div>
  </div>
</body>
